{% extends 'base.html.twig' %}

{% block title %}Hello CarteCollectionController!{% endblock %}

{% block body %}

    {% for carte in cartes %}

        <a href="{{ path("carte_page", {"jeu" : carte.jeu, "id" : carte.id }) }}">
            <p>{{carte.nom}}</p><br>
            <img src="{{ asset('carte/'~ carte.nomphoto ~'') }}" width="400"><br>
        </a>
        <a href="{{ path("delete_carte", {"pseudo" : user.pseudo, "collection" : collections.nom, "id" : carte.id }) }}">Supprimer de la collection</a>

    {% endfor %}

    <br>
    <br>
    <a href="{{ path("delete_collection", {"pseudo" : user.pseudo, "id" : collections.id }) }}">Supprimer la collection</a>

{% endblock %}