{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{# formulaire de création de compte #}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container" id="form">
        <h1>CREER UN COMPTE</h1>
        
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom, {
                'attr': {'class': "form-control"},
                'label_attr': {'id': "fieldform"}
            }) }}
            
            {{ form_row(registrationForm.prenom, {
                'attr': {'class': "form-control"},
                'label_attr': {'id': "fieldform"}
            }) }}
            
            {{ form_row(registrationForm.email, {
                'attr': {'class': "form-control"},
                'label_attr': {'id': "fieldform"}
            }) }}
            
            {{ form_row(registrationForm.pseudo, {
                'attr': {'class': "form-control"},
                'label_attr': {'id': "fieldform"}
            }) }}
            
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'label_attr': {'id': "fieldform"},
                'attr': {'class': "form-control"}
            }) }}

            {{ form_row(registrationForm.agreeTerms, {
                'label_attr': {'id': "fieldform"},
            }) }}

            <button type="submit" class="btn btn-lg btn-dark" id="fieldform">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
