{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.pseudo }}{% endblock %}

{% block body %}


<h3>{{ user.pseudo }}</h3>
<br>
<h3>{{ user.email }}</h3>
<br>
<h3>{{ user.nom }}</h3>
<br>
<h3>{{ user.prenom }}</h3>


{% endblock %}
