{% extends 'base.html.twig' %}

{% block title %}Hello new Costumer!{% endblock %}

{% block body %}
<div class="container" id="form">
    <h1>Modifier mon profil :</h1><br>
{# formulaire de midification de profil #}
    {{ form_start(formUser)}}

        {{ form_row(formUser.nom, {
            'attr': {'class': "form-control"},
            'label_attr': {'id': "fieldform"}
        }) }}

        {{ form_row(formUser.prenom, {
            'attr': {'class': "form-control"},
            'label_attr': {'id': "fieldform"}
        }) }}

        {{ form_row(formUser.email, {
            'attr': {'class': "form-control"},
            'label_attr': {'id': "fieldform"}
        }) }}

        {{ form_row(formUser.pseudo, {
            'attr': {'class': "form-control"},
            'label_attr': {'id': "fieldform"}
        }) }}

        {{ form_row(formUser.password, {
            'attr': {'class': "form-control"},
            label: 'Password',
            'label_attr': {'id': "fieldform"}
        }) }}

        <button type="submit" class="btn btn-lg btn-dark" id="fieldform">valider les modification</button>

    {{ form_end(formUser)}}
</div>

{% endblock %}