{% extends 'base.html.twig' %}

{% block title %}Hello CarteController plus!{% endblock %}

{% block body %}

<div class="container">
    <div class="row" id="colcarte">
        <div class="col-6">
            <h1 id="nomcarte" class="text-center">{{ cartes.nom }}</h1>
            <img src="{{ asset('carte/'~ cartes.nomphoto ~'') }}" alt="image d'une carte Yu Gi Oh" style="width:400px; height:auto" class="img-fluid d-block mx-auto" id="imgcarte">
        </div>
        <div class="col-6">
            <p>{{ cartes.statistique }}</p>
            <p>{{ cartes.type }}</p>
            <p>{{ cartes.caracteristique }}</p>
            <p>{{ cartes.serie }} / {{ cartes.numero }} {{ cartes.rarete }}</p>
        </div>
    </div>
</div>




{% if user %}

    <h3>Ajouter à :</h3>
            
        {% for collection in collections %}

        <br>
            <a href="{{ path("addcard", {"carte" : cartes.id, "collection" : collection.nom }) }}">{{ collection.nom }}</a>
        <br>

        {% endfor %}

{% endif %}







{% endblock %}