{% extends 'base.html.twig' %}

{% block title %}CARDSTORM{% endblock %}

{% block body %}

<div class="container">
    <div class="row" id="colcarte">
        <div class="col-6">
            <h1 id="nomcarte" class="text-center">{{ cartes.nom }}</h1>
            <img src="{{ asset('carte/'~ cartes.nomphoto ~'') }}" alt="image d'une carte Yu Gi Oh" style="width:400px; height:auto" class="img-fluid d-block mx-auto" id="imgcarte">
        </div>
        <div class="col-6">
            <p id="stats">{{ cartes.statistique }}</p>
            <p id="stats">{{ cartes.type }}</p>
            <p id="stats">{{ cartes.caracteristique }}</p>
            <p id="stats">{{ cartes.serie }} / {{ cartes.numero }} {{ cartes.rarete }}</p>
        </div>
    </div>
</div>




{% if user %}
<div class="container">
    <div class="row" id="colcarte">
        <div class="col-12">
            <h3 id="ajouter">Ajouter à une collection :</h3>
        </div>        
        {% for collection in collections %}
            <div class="col-4" id="listecolcarte">
                <a class="nav-link" href="{{ path("addcard", {"carte" : cartes.id, "collection" : collection.nom }) }}">
                    <button type="button" class="btn btn-dark">{{ collection.nom }}</button>
                </a>
            </div>
        {% endfor %}
    </div>    
</div>
{% endif %}







{% endblock %}